# Introduction to Python

## What is Python?

#### Python is an easy to learn, powerful Object Oriented Programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming. 

Python’s elegant syntax and dynamic typing, together with its interpreted nature, make it an ideal language for scripting and rapid application development in many areas on most platforms.

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable. As an example, here is an implementation of the classic quicksort algorithm in Python:

In [ ]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

## Using Python

* Running python program(.py) file
* Python Prompt Interpreter
* ipython

## Why Python?

<img src="img/Picture1.jpg" alt="drawing" width="300"/>
<img src="img/Picture2.jpg" alt="drawing" width="300"/>

## Comments in Python

In [ ]:
#this is a comment # symbol is used for single line commenting
 
"""
 This is how one must do multi line commenting
"""

'\n This is how one must do multi line commenting\n'

## Exploring basic datatypes in python

As mentioned in the introduction python is a **dynamically typed language** and hence **doesn't** require the user to **define variables** before intialising them.

use the ```type()``` command to find the datatype of a particular variable

| Type     |      example  |
|----------|:-------------:|
| Text Type |  str |
| Numeric Types |    int, float, complex   |
| Sequence Types | list, tuple, range |
| Mapping Type | dict |
| Set Types   | set, frozenset |
| Boolean Type  | bool |
| Binary Types   | bytes, bytearray, memoryview*** |

In [ ]:
#checking the datatype of a variable
a="hello"
print(type(a),'\n')

<class 'str'>

## Numeric datatypes

In [ ]:

x = 1    # int
y = 2.8  # float
a = -87.7e100 #another way to represent floating variables
z = 1j   # complex

"""
user can convert between datatypes using the method mentioned above
Note: You cannot convert complex numbers into another number type.
"""
#setting datatype of a variable

c=int(y)
print(c)
print(type(c))

print(z)
print(type(z))
d=int(z)  # cannot convert complex numbers to another datatype

2
<class 'int'>
1j
<class 'complex'>

TypeError: can't convert complex to int

## string datatypes

In [ ]:


a = "Hello"
print(a)

#multiline strings can be created using ''' <insert text here> ''' 
a = """Why does Python live on land?
Because it's above C-level"""
print(a)

#Note: in the result, the line breaks are inserted at the same position as in the code.

## Indentation

* Whitespaces at the beginning of the line are important.
* Statements with same indentations form a block.

In [ ]:
I = 5
    print(I)         #IndentationError
print(“This is string”)

<img src="img/Picture6.jpg" alt="drawing" width=300px/>

## Operators

In [ ]:
a = 3
b = 2

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)

a = 'la'
a = a * 3
print("\n",a)

Other Binary Operations

*  < (less than)
*  > ( greater than)
*  <= (Less than or equal to)
*  >= (Greater than or equal to)
*  == ( Equal to)
*  != (Not Equal to)
*  not( Boolean NOT)
*  and ( Boolean AND)
*  or (Boolean OR)



*  << (left shift)
*  >>(right shift)
*  & ( bitwise AND)
*  | (bitwise OR)
*  ^ (bitwise XOR)
*  ~ ( bitwise invert)

## Escape Sequences – Non graphic characters
‘\n’, ‘\t’, ‘\\’, ‘\’’ – examples of escape sequences

In [ ]:
print("this is line 1\nthis is second line\n")
print(r"This is line 1 \n This is line 2")

this is line 1
this is second line

This is line 1 \n This is line 2

## Strings are Arrays

Like many other popular programming languages, strings in Python are **arrays of bytes** representing unicode characters.

However, Python ***does not have a character data type***, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
#accessing unit length string
a = "Hello, World!"
print(a[1])

#getting letters between postion 2 and 5 (5 not included)
b = "Hello, World!"
print(b[2:5])

#Get the characters from position 5 to position 1, starting the count from the end of the string
b = "Hello, World!"
print(b[-5:-2])

#getting the length of the string
b = "Hello, World!"
print(len(b))

e
llo
orl
13

## Built-in string methods

In [ ]:
#removes whitespaces at the beginning or end
a = "   Hello, World! "
print(a.strip())

#converting to lowercase
a = "Hello, World!"
print(a.lower())

#converting to uppercase
a = "Hello, World!"
print(a.upper())

#replacing a character with another
a = "Hello, World!"
print(a.replace("H", "J"))

#splits the string into substrings if it finds instances of the seperator - returns a list
a = "Hello, World!"
print(a.split(","))

#checking a string
if "Hello" in a:
    print("Hello is present in given string\n")

#concatenating a string
a = "Hello"
b = "World"
c = a + b
print(c)

#formating a string
a=1
b=2
txt = "{0}+{1}={2}".format(a,b,a+b)
print(txt)
print("My name is {0} and I am from {1}".format("Me",  "Chennai"))

Hello, World!
hello, world!
HELLO, WORLD!
Jello, World!
['Hello', ' World!']
Hello is present in given string

HelloWorld
1+2=3
My name is Me and I am from Chennai

## Boolean datatype

In [ ]:
print(10 > 9)

"""

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

"""
x = "Hello"
y = 15
z=""
print(bool(x))
print(bool(y))
print(bool(z))

True
True
True
False

## Python Collections

There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

**Set** is a collection which is unordered and unindexed. No duplicate members.

**Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

In [ ]:
#--- lISTS ----#


a=["hello","welcome","to","python"]
print(type(a))

#getting the first element
print(a[0])

#selecting elements between 1 and 3
print(a[1:3])

#taking the first two elements
print(a[:2])

#taking the last two elements
print(a[2:])

#adding items list
a.append("workshop")
print(a)

#changing element values
a[0]="Hey"
print(a)

#removing an element
a.remove("Hey")
print(a)

<class 'list'>
hello
['welcome', 'to']
['hello', 'welcome']
['to', 'python']
['hello', 'welcome', 'to', 'python', 'workshop']
['Hey', 'welcome', 'to', 'python', 'workshop']
['welcome', 'to', 'python', 'workshop']

In [ ]:
#--- Tuple ---#


thistuple = ("apple", "banana", "cherry")
print(thistuple)

#assignment is not allowed
thistuple[0]="orange"

## Tuples are IMMUTABLE

('apple', 'banana', 'cherry')

TypeError: 'tuple' object does not support item assignment

In [ ]:
#--- Dictionary ---#


#creating dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

#accessing values using keys
print(thisdict["brand"])

#changing values
thisdict["year"]=2020
print(thisdict)

In [ ]:
#nested dictionaries
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily["child1"])

print(myfamily["child1"]["name"])

In [ ]:
#creating dictionaries from lists
a=["name","age"]
b=["allen","20"]
c=dict(zip(a,b))
print(c)

In [ ]:
#--- Sets ---#


Metros = set( ["Delhi", "Chennai", "Mumbai", "Kolkata"])
bigCities = set(["Delhi", "Chennai", "Mumbai", "Kolkata", "Pune", "SBC"])

print(Metros.issubset(bigCities))
print(Metros.issuperset(bigCities))

print( Metros & bigCities)    #Intersection
print( Metros | bigCities)    #Union

## Functions

In [ ]:
# 1) Without return Type with arguments

def add( a, b):
    print( a + b )

def sub( a, b):
    print( a - b)

add(4,5)
sub(4,9)

In [ ]:
# 2)Functions with return Type
def add( a, b):
    return a + b

C = add( 2, 3)
print(C)

## Default Arguments

In [ ]:
def simpleInterest( p, n, r = 7.0):
    return p * n * r

print(simpleInterest( 1000, 3, 5.0)) #Valid
print(simpleInterest( 1000, 3)) #Still valid
print(simpleInterest( 1000, 5.0)) #Invalid only 2 params. Takes n = 5

## Python ifelse statements

***syntax***

```
if <condition> :
    <execute your commands>
elif <condition> :
    <execute your commands>
else:
    <execute your commands>
```

***Python relies on indentation (whitespace at the beginning of a line) to define scope in the code.***

In [ ]:
#example

a=10
b=20

if a>b:
    print("a greater than b")
elif a==b:
    print("a is equal to b")
else:
    print("a is lesser than b")

## While loop

***syntax***
```
while <condition>:
    <execute commands>
```

In [ ]:
#example
i = 1
while i < 6:
  print(i)
  i += 1

## For loops
***syntax***
```
for i in <condition>:
    <execute commands>
```

In [3]:
# Method 1
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

# Method 2
for ind,x in enumerate(fruits):
  print (ind,x)

apple
banana
cherry
0 apple
1 banana
2 cherry

**Exercise** - Create two n dimensional list of evenly spaced numbers distributed accross a certain interval and multiply element wise using a for loop

## Recursion

In [ ]:
def factorial( n):
    if n == 1:
        return 1
    else :
        return n * factorial(n-1)

print(factorial(7))

## Global and Local Variables

In [ ]:
# Global
x = 34
print(x)
def change():
    global x
    x = 50
    print(x)
change() #Function call
print(x)

In [ ]:
# Local
x = 34
print (x)
def change():
    x = 50
    print(x)
change() #function call
print(x)

## Functions in python

***syntax***

```
def <function_name>(<function-parameters>):
    <execute commands>
    
return <returning value>
```

In [ ]:
def print_name(firstname,lastname="Stone"):
    print(firstname+lastname)
print_name("Alan","Walker")
print_name("Alan")

## Classes in Python

A Class is like an object constructor, or a "blueprint" for creating objects.

**defining a class**
```
class <class_name>:
    <class-variables>
    <init functions if any>
    <functions if any>
    
```

**defining an object of a class**
 ```
 obj1=<class_name>()
```

**init function**
All classes have a function called __init__(), which is always executed when the class is being initiated.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

## Exceptions

Exceptions occur everywhere even here too – 
* Opening a file which doesn’t exist
* Dividing a number by 0

In [ ]:
print(1/0)
# We get ZeroDivisionError which is also an ArithmeticError

In [ ]:
try:
    print(1/0)
except ZeroDivisionError:
    print("Division by 0 is not possible")

In [ ]:
f = open(‘filename.txt’)

In [ ]:
try:
    f = open('filename.txt')
except FileNotFoundError:
    print(‘File not found!!!’)

**Exercise** - make a simple python code for finding the nth fibonacci number (the sequence goes like 1, 1, 2, 3, 5, 8, 13 and so on) by two methods. Use the code cells below.

1.   Using Lists
2.   Using a Recursive Function (a function that calls itself)